<!DOCTYPE html>
<head>
    <title>Bokeh Effect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="drag-area">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header>
            Drag and Drop to Upload File
        </header>
        <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
            <label for="fileInput" class="custom-label">
                <!-- <span class="browse-button">Browse File</span> -->
            </label>
            <input type="file" name="image" id="fileInput" hidden>
        </form>
    </div>

    <script src="/static/script.js"></script>
</body>
